################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vscode
*.gitignore
/__pycache__
*.pyc
*.json
__pycache__/__init__.cpython-38.pyc
__pycache__/regression.cpython-38.pyc
__pycache__/utils.cpython-38.pyc
__pycache__/__init__.cpython-38.pyc
__pycache__/regression.cpython-38.pyc
__pycache__/utils.cpython-38.pyc
